<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="online-reps">
        <h3>Representatives Online</h3>
        <div>
          <p>Shelly</p>
        </div>
      </div>
      <hr>
      <div class="online-user">
        <h3>Users Online</h3>
        <div>
          <p>Daniel</p>
          <p>Jenn</p>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div id="messages" class="messages">
        <div id="messages-table" class="messages-table">
          <div class="message-content">
            <%= render @messages %>
          </div>
        </div>
      </div>
      <div class="message-input">
          <textarea data-behavior="room_speaker"></textarea>
          <input type="button" value="Submit">
      </div>
    </div>
  </div>
</div>
