// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.col-md-4 {
  border: 1px solid black;
  height: 80vh;
}

.col-md-8 {
  border: 1px solid black;
  height: 80vh;
}
.messages {
  background-color: #fff;
  box-shadow: 0 0 0 5px #f4f2ed inset;
  box-sizing: border-box;
  height: 87%;
  overflow: scroll;
  padding: 20px;
}

.message-input {
  background-color: rgba(0,0,0,0.03);
  box-sizing: border-box;
  height: 13%;
  padding: 0 5px 5px;
  form {
    height: 100%;
  }
  textarea {
    height: 100%;
    width: 84.5%;
  }
  input {
    float: right;
    height: 100%;
    vertical-align: top;
    width: 14.5%;
  }
}
